<!DOCTYPE html>
<html lang="en">

  <!-- HEADER -->
  <%- include('partials/header') %>

<body>

  <!-- NAVIGATION -->
  <%- include('partials/navigation') %>

  <h1>About Page</h1>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias quaerat quia illo nemo distinctio omnis, aliquid vitae impedit ex accusantium blanditiis assumenda sint ducimus iusto unde iure rem neque quasi doloribus voluptatem reiciendis magni laboriosam? Voluptas velit voluptate minima qui, hic illo. Non repudiandae praesentium incidunt fuga esse tempora cupiditate?</p>

  <!-- FOOTER -->
  <%- include('partials/footer') %>

</body>
</html>
