<!DOCTYPE html>
<html lang="en">

<!-- HEADER -->
<%- include('partials/header') %>

<body>

  <!-- NAVIGATION -->
  <%- include('partials/navigation') %>

  <h1>Contact Page</h1>

  <!-- FOOTER -->
  <%- include('partials/footer') %>

</body>
</html>
